



.image-logo{
  width: 40px;
  height: 40px;
  border-radius: 50vw;
  position: relative;
}
#data-comp{
  padding: 1.5vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.nav-container{
  background-color: black;
  position: fixed;
  padding: 1vw;
  top: 0;
  width: 100%;
  left: -0.5vw;
  overflow: hidden;
  z-index: 99999999;
}
.nav-container > nav{
  background-color: #000000;
  position: fixed;
  overflow: hidden;
  width: 100%;
  display: flex;
  top: 0;
  justify-content: space-between;
  background-color: black;
  z-index: 99999999;
}
.gly-search{
  font-size: 6vw;
}
.menu{
  position: relative;
  right: 3vw;
  position: relative;
  top: 1.5vw;
}
.inner-cont{
  display: flex;
  justify-content: space-between;
}
.inner-cont > .glys{
  right: 15vw;
  top: 2vw;
  text-decoration: none;
  color: white;
}
.st{
  color: black;
  height: 9vw;
  font-size: 4vw;
  padding: 2vw;
  font-weight: bold;
  width: 30vw;
  left: -11vw;
  position: relative;
border-radius: 50vw;
}
.menus{
  text-decoration: none;
  color: white;
}
.album{
  width: 40vw;
  height: 40vw;
  border-radius: 5%;
}
.album-container{
  margin-top: 19vw;
}
.latest{
  font-weight: bold;
  font-size: 5vw;
  margin-bottom: 4.5vw;
}
.image-grid{
  display: flex;
  padding: 2vw;
  position: relative;
  left: -2vw;
}
.data-title{
  font-weight: 15px;
  font-size: 4vw;
  color: white;
  position: relative;
  top: 0;
}
.flex-box{
  display: flex;
  overflow-x: auto;
}
.content{
  font-size: 5vw;
}
.cap{
  position: relative;
  top: -20vw;
  color: white;
  font-size: 17px;
  left: 35px;
  text-shadow: 2px 2px 2px orange;
}
.images-logo{
  width: 35px;
  height: 35px;
  position: relative;
  top: 4vw;
  z-index: 99999999;
  left: 35vw;
}
.album-card1{
  text-align: center;
  margin-top: 15vw;
}
.album-card1 > img{
  width: 45%;
  text-align: center;
  box-shadow: rgba(255,255,255, 0.2) 0px 12px 30px;
  border-radius: 2%
}
.hex{
  background-image: linear-gradient(#9a0200, #1E1E1E);
  color: white;
  width: 100%;
  height: 100vh;
}
.content-inner > small{
  color:lightgrey;
}
.flex1{
  display: flex;
  justify-content: space-between;
}
.like-container > .func{
  font-size: 6vw;
  padding: 3.3vw;
  position: relative;
  top: 5vw;
  color: lightgrey;
  text-decoration: none;
}
.outer-cover{
  width: 20%;
  height: 20%;
}
.content-inner > h1{
  font-size: 7vw;
}
.other-song{
  margin-top: 5vw;
}
.num{
  font-size: 4vw;
  color: lightgrey;
  font-weight: bold;
}
.other-song > strong {
  font-size: 4vw;
}
.album-title{
  font-size: 4vw;
  color: white;
  position: relative;
  left: 8vw;
}
.play-btn{
  position: relative;
  left: -3vw;
  outline: none;
}
.ell{
  font-size: 16px;
  color: white;
  position: relative;
  left: -5.5vw;
  top: 1.5vw;
}
.down{
  position: absolute;
  margin-top: 6vw;
  
}
.hoove > div > p{
  color: lightgrey;
  
}
.mynav-bar{
  color: red;
  background-color: red;
}
.navbar-div > *{
  text-decoration: none;
  color: white;
  font-size: 5vw;
  font-family: Monospace;
  padding: 1vw;
}
.navbar-div > button{
  position: relative;
  float: right;
}
.navbar-div > .link{
  left: 2vw;
  margin-top: 15vw;
}
.active{
  display: none;
  border-left: solid 8px white;
  border-bottom: solid px white;
  width: 20vw;
  height: 20vw;
  line-height: 0;
  border-radius: 100vw;
  animation: spin 1s linear infinite;
  position: relative;
  top: -18vw;
  left: 78%;
}
@keyframes spin{
  25%{transform: rotate(0deg)}
  50%{transform: rotate(50deg)}
  75%{transform: rotate(100deg)}
  100%{transform: rotate(180deg)}
}

.coner-nav{
  display: none;
  background-color: #1E1E1E;
  height: 100vh;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999999;
}
.search-engine {
  background-color: #1E1E1E;
  position: fixed;
  top: 0;
  z-index: 99999999;
  height: 100vh;
}
.my-engine {
  margin-top: 10vw;
  font-size: 6vw;
}
.my-engine > input{
  padding: 1vw;
}
.my-engine > *{
  text-decoration: none;
  color: white;
}

.search-image{
  width: 13vw;
  height: 13vw;
  border-radius: 5%;
}
.search-result{
  margin-top: 8vw;
}
.info{
  position: relative;
  left: 4vw;
}
.search-title{
  font-size: 4vw;
  font-weight: bold;
}
.search-artist{
  color: lightgrey;
  font-size: 3vw
}
.album-caption{
  margin-top: 15vw;
  text-align: center;
}
.album-caption > .img-caption{
  width: 45%;
  height: 38vw;
}
.play-song-container > .play-song{
  width: 10vw;
  height: 10vw;
}
.play-song-container{
  padding: 2vw;
}
.playing-title{
  position: relative;
  left: 3vw;
}
.playing-now{
  background-image: linear-gradient(#9a0200, brown);
  position: fixed;
  top: 0;
  height: 102vh;
  z-index: 99999999;
  overflow: hidden;
}
.now-container > img{
  margin-top: 15vw;
  width: 80%;
  height: 70vw;
}
.myrange > input{
  text-align: center;
  width: 90%;
}
.container-image{
  text-align: center;
}
.playing-img{
  margin-top: 17vw;
  width: 60%;
  text-align: center;
}
.myplayers{
  background-color: white;
  color: black;
  display: block;
  padding: 5vw;
  border-radius: 50%;
  width: 18vw;
  height: 18vw;
  text-align: center;
}
.awesome {
  font-size: 10vw;
  color: white;
  font-weight: bold;
}
.btn-player {
  border: none;
  background-color: green;
  color: white;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  font-size: 4vw;
}
#player-click {
  position: relative;
  left: 8vw;
}
#data-container {
  background-image: linear-gradient(#9a0200, #1E1E1E,#1E1E1E);
}
#hoover:hover{
  background-color: grey;
  padding:1vw;
}

/* Big screens: 2-column grid */
@media screen and (min-width: 1024px) {
  .flex-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    justify-items: center;
  }

  .image-grid {
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .image-grid:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(29, 185, 84, 0.6);
    border-radius: 10px;
  }

  .image-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
  }
}